@if (ViewBag.errorMsg != null)
{
    <h1 class="error">@ViewBag.errorMsg</h1>
} else if (ViewBag.guessedX == ViewBag.x)
{
    <h1 class="success">YOU WIN!</h1>
} else if (ViewBag.guessedX < ViewBag.x)
{
    <h1 class="warning">Więcej!</h1>
} else
{
    <h1 class="warning">Mniej!</h1>
}
