<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_IStringOps" />
            </basicHttpBinding>
            <customBinding>
                <binding name="myEndpoint3">
                    <security defaultAlgorithmSuite="Default" authenticationMode="SecureConversation"
                        requireDerivedKeys="true" includeTimestamp="true" messageProtectionOrder="SignBeforeEncrypt"
                        messageSecurityVersion="WSSecurity11WSTrustFebruary2005WSSecureConversationFebruary2005WSSecurityPolicy11BasicSecurityProfile10"
                        requireSignatureConfirmation="false" canRenewSecurityContextToken="true">
                        <secureConversationBootstrap defaultAlgorithmSuite="Default"
                            authenticationMode="SspiNegotiated" requireDerivedKeys="true"
                            includeTimestamp="true" messageSecurityVersion="WSSecurity11WSTrustFebruary2005WSSecureConversationFebruary2005WSSecurityPolicy11BasicSecurityProfile10"
                            requireSignatureConfirmation="false">
                            <localClientSettings detectReplays="true" />
                            <localServiceSettings detectReplays="true" />
                        </secureConversationBootstrap>
                        <localClientSettings detectReplays="true" />
                        <localServiceSettings detectReplays="true" />
                    </security>
                    <textMessageEncoding />
                    <httpTransport />
                </binding>
                <binding name="WSHttpBinding_IStringOps">
                    <security defaultAlgorithmSuite="Default" authenticationMode="SecureConversation"
                        requireDerivedKeys="true" includeTimestamp="true" messageProtectionOrder="SignBeforeEncrypt"
                        messageSecurityVersion="WSSecurity11WSTrustFebruary2005WSSecureConversationFebruary2005WSSecurityPolicy11BasicSecurityProfile10"
                        requireSignatureConfirmation="false" canRenewSecurityContextToken="true">
                        <secureConversationBootstrap defaultAlgorithmSuite="Default"
                            authenticationMode="SspiNegotiated" requireDerivedKeys="true"
                            includeTimestamp="true" messageSecurityVersion="WSSecurity11WSTrustFebruary2005WSSecureConversationFebruary2005WSSecurityPolicy11BasicSecurityProfile10"
                            requireSignatureConfirmation="false">
                            <localClientSettings detectReplays="true" />
                            <localServiceSettings detectReplays="true" />
                        </secureConversationBootstrap>
                        <localClientSettings detectReplays="true" />
                        <localServiceSettings detectReplays="true" />
                    </security>
                    <textMessageEncoding />
                    <httpTransport />
                </binding>
            </customBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:10001/MyStringOps/endpoint3"
                binding="customBinding" bindingConfiguration="myEndpoint3"
                contract="ServiceReference1.IStringOps" name="myEndpoint3">
                <identity>
                    <userPrincipalName value="DESKTOP-H5N4B6E\yurts" />
                </identity>
            </endpoint>
            <endpoint address="http://localhost:10001/MyStringOps/endpoint1"
                binding="customBinding" bindingConfiguration="WSHttpBinding_IStringOps"
                contract="ServiceReference1.IStringOps" name="WSHttpBinding_IStringOps">
                <identity>
                    <userPrincipalName value="DESKTOP-H5N4B6E\yurts" />
                </identity>
            </endpoint>
            <endpoint address="http://localhost:10001/MyStringOps/endpoint2"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IStringOps"
                contract="ServiceReference1.IStringOps" name="BasicHttpBinding_IStringOps" />
        </client>
    </system.serviceModel>
</configuration>