<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
	</startup>
	<system.serviceModel>
		<services>
   <service name="WcfServiceContract1.MyStringOps">
    <endpoint address="/endpoint3" binding="wsHttpBinding" name="myEndpoint3"
     contract="WcfServiceContract1.IStringOps" />
   </service>
  </services>
	</system.serviceModel>
</configuration>