<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <system.serviceModel>
        <bindings>
            <wsDualHttpBinding>
                <binding name="WSDualHttpBinding_IAsyncTodos" />
            </wsDualHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:10000/AsyncTask/endpoint2"
                binding="wsDualHttpBinding" bindingConfiguration="WSDualHttpBinding_IAsyncTodos"
                contract="TaskRef.IAsyncTodos" name="WSDualHttpBinding_IAsyncTodos">
                <identity>
                    <userPrincipalName value="DESKTOP-H5N4B6E\yurts" />
                </identity>
            </endpoint>
        </client>
    </system.serviceModel>
</configuration>